<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<type name="WebArchers\PDFInvoice\Controller\Index\Welcome">
    <arguments>
        <argument name="sessionManager" xsi:type="object">Magento\Framework\Session\SessionManager</argument>
    </arguments>
</type>
</config>